{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список задач</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="column left-column">
      <h2>Добавить задачу</h2>
      <form id="add-task-form" method="POST" action="{% url 'task_list' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Добавить задачу</button>
      </form>
    </div>

    <div class="column right-column">
      <h2>Текущие задачи</h2>
      <ul class="task-list">
        {% for task in tasks %}
          <li class="{% if task.completed %}completed{% endif %}" data-id="{{ task.id }}">
            {{ task.title }}
            <button class="btn btn-danger btn-sm float-right delete-btn"><i class="fas fa-trash"></i></button>
            {% if not task.completed %}
              <button class="btn btn-primary btn-sm float-right mark-complete-btn"><i class="fas fa-check"></i></button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
  </div>
  <script src="{% static 'scripts.js' %}"></script>
</body>
</html>